html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
font-size: 14px;
line-height:normal;
font-family: sans-serif;
}

.container {
background-color: #f5be7a;
width: 940px;
padding: 0 10px;
margin: 0 auto;
}

 .logo {
  display: block;
  width: 150px;
  float: left;
  background-color: #74b0ec;
}

.main-navigation {
  background-color: #74b0ec;
  width: 630px;
  float: left;
}

.user-block {
  width: 140px;
  float: right;
  background-color: #74b0ec;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 55px;
}

.breadcrumbs {
  margin-bottom: 50px;
  background-color: #d7e540;
}

form  {
float: left;
width: 220px;
background-color: #e5a9f7;
}

.top {
  margin-bottom: 50px;
}

.catalog-content-right {
  width: 700px;
  float: right;
  background-color: #f7a9d7;
  margin-bottom: 45px;
}

.btn {
margin-top: 50px;
float: left;
}

.catalog-item {
width: 220px;
height: 286px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px;
}

.catalog-item-1, .catalog-item-2, .catalog-item-4, .catalog-item-5 {
float: left;
}

.catalog-item-3, .catalog-item-6 {
float: right;
margin-right: 0px;
}

.price {
float: left;
}

.btn-price {
float: right;
}

.pages {
clear: both;
margin-top: 45px;
}

.main-footer {
  background-color: #e46a72;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

h2 {
font-size: 14px;
}



h1 {
  background-color: #cbb396;
  font-size: 30px;
}
